In [123]:
import pandas as pd

In [124]:
# d3input = pd.read_csv('d3_test.txt', header=None, squeeze=True, dtype='object')
d3input = pd.read_csv('d3_input.txt', header=None, squeeze=True, dtype='object')
d3input

0      000001100010
1      100111011010
2      001100011001
3      011010001010
4      011010101011
           ...
995    010010100001
996    000111100110
997    010000110000
998    001011010000
999    110011010100
Name: 0, Length: 1000, dtype: object

In [125]:
gamma = ''
epsilon = ''

for i in range(len(d3input.at[0])):
    zeros = 0
    ones = 0

    for value in d3input:
        if value[i] == '0': zeros += 1
        else: ones += 1
    
    if zeros > ones:
        gamma += '0'
        epsilon += '1'
    else:
        gamma += '1'
        epsilon += '0'

gamma, epsilon

('100111100011', '011000011100')

In [126]:
gamma = int(gamma, 2)
epsilon = int(epsilon, 2)
gamma, epsilon, gamma*epsilon

(2531, 1564, 3958484)

In [127]:
d3 = list()

for i in range(len(d3input.at[0])):
    values = list()
    for j in d3input:
        values.append(j[i])
    d3.append(values)

d3 = pd.DataFrame(d3).transpose()
d3

    0  1  2  3  4  5  6  7  8  9  10 11
0    0  0  0  0  0  1  1  0  0  0  1  0
1    1  0  0  1  1  1  0  1  1  0  1  0
2    0  0  1  1  0  0  0  1  1  0  0  1
3    0  1  1  0  1  0  0  0  1  0  1  0
4    0  1  1  0  1  0  1  0  1  0  1  1
..  .. .. .. .. .. .. .. .. .. .. .. ..
995  0  1  0  0  1  0  1  0  0  0  0  1
996  0  0  0  1  1  1  1  0  0  1  1  0
997  0  1  0  0  0  0  1  1  0  0  0  0
998  0  0  1  0  1  1  0  1  0  0  0  0
999  1  1  0  0  1  1  0  1  0  1  0  0

[1000 rows x 12 columns]

In [128]:
d3counts = d3.apply(pd.Series.value_counts)
d3counts

    0    1    2    3    4    5    6    7    8    9    10   11
0  496  504  503  475  483  472  481  503  502  502  497  498
1  504  496  497  525  517  528  519  497  498  498  503  502

In [129]:
gamma = ''
epsilon = ''

for col in d3counts.columns:
    zeros = d3counts[col][0]
    ones = d3counts[col][1]

    if zeros > ones:
        gamma += '0'
        epsilon += '1'
    else:
        gamma += '1'
        epsilon += '0'

gamma = int(gamma, 2)
epsilon = int(epsilon, 2)
gamma, epsilon, gamma*epsilon

(2531, 1564, 3958484)

In [130]:
d3generator = d3.copy()
for i in d3generator.columns:
    if len(d3generator) == 1:
        break
    
    zeros = d3generator[i][d3generator[i] == '0'].count()
    ones = d3generator[i][d3generator[i] == '1'].count()

    if zeros > ones:
        d3generator = d3generator[~(d3generator[i] == '1')]
    elif ones >= zeros:
        d3generator = d3generator[~(d3generator[i] == '0')]
d3generator

    0  1  2  3  4  5  6  7  8  9  10 11
821  1  0  0  1  0  1  0  1  1  1  0  1

In [131]:
generator = ''
for i in d3generator.columns:
    generator += d3generator.iloc[0, i]
generator = int(generator, 2)
generator

2397

In [132]:
d3scrubber = d3.copy()
for i in d3scrubber.columns:
    if len(d3scrubber) == 1:
        break

    zeros = d3scrubber[i][d3scrubber[i] == '0'].count()
    ones = d3scrubber[i][d3scrubber[i] == '1'].count()

    if zeros > ones:
        d3scrubber = d3scrubber[~(d3scrubber[i] == '0')]
    elif ones >= zeros:
        d3scrubber = d3scrubber[~(d3scrubber[i] == '1')]
d3scrubber

    0  1  2  3  4  5  6  7  8  9  10 11
831  0  0  1  0  1  0  1  0  0  0  0  1

In [133]:
scrubber = ''
for i in d3scrubber.columns:
    scrubber += d3scrubber.iloc[0, i]
scrubber = int(scrubber, 2)
scrubber

673

In [134]:
generator*scrubber

1613181